---
layout: layouts/default.liquid
---
<article>
  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>
    <div class="post-time">
      <time datetime="{{ date }}">
        {{ date | date: "%a, %b %d, %Y" }}
      </time>
      Last updated:
      <time datetime="{{ updated }}">
        {{ updated | date: "%a, %b %d, %Y" }}
      </time>
    </div>
  </header>

  <section class="post-container">
    {{ content }}
  </section>
</article>

<nav class="pagination">
  {% assign previousPost = collections.posts | getPreviousCollectionItem %}
  {% assign nextPost = collections.posts | getNextCollectionItem %}
  {% if previousPost %}
    <p>Post anterior:
      <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
    </p>
  {% endif %}
  {% if nextPost %}
    <p>Próximo post:
      <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    </p>
  {% endif %}
</nav>

<style>
  .post-header {
    margin-bottom: var(--space-5);
  }
  .post-title {
    font-weight: normal;
  }
  .post-time {
    color: var(--color-text-shade);
    font-size: var(--font-size-xs);
  }
  .post-container {
    padding-bottom: var(--space-3);
    border-bottom: 1px solid var(--color-text-shade);
  }
  .post-container h2 {
    margin-top: var(--space-7);
  }
  .post-container h3 {
    margin-top: var(--space-6);
  }
  .post-container blockquote {
    margin: var(--space-5) 0;
  }
  .post-container > * + * {
    margin-top: var(--space-3);
  }
  .post-container > *:first-child {
    margin-top: 0;
  }
  .post-container blockquote > * + * {
    margin-top: var(--space-3);
  }
  .post-container ul,
  .post-container ol {
    padding-left: var(--space-6);
  }
  .post-container h2 + *,
  .post-container h3 + *,
  .post-container h4 + *,
  .post-container h5 + * {
    margin-top: var(--space-2);
  }
  .related {
    margin-top: var(--space-8);
  }
  .related-posts {
    list-style: none;
  }
  .related-article + .related-article {
    margin-top: var(--space-4);
  }
  .related-article {
    padding: var(--space-2) 0;
    color: var(--color-text);
    text-decoration: unset;
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }
  .related-article-title {
    transition: color 0.2s ease-in-out;
  }
  .related-article:hover .related-article-title {
    color: var(--color-primary);
  }
  .related-article-description {
    font-size: var(--font-size-xs);
    color: var(--color-text-shade);
  }

  .pagination {
    display: flex;
    justify-content: left;
    padding-top: var(--space-3);
  }

</style>